/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-700italic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Layout */
.navbar {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.cell-content {
    white-space: nowrap;
}

.cell-wide {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.wide-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.music-item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 6px;
}

.folder-link.lead {
    margin-bottom: 0;
}

.folder-buttons {
    display: flex;
}

.folder-link {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 6px;
}

.track-buttons {
    display: flex;
    width: 100%;
}

.track-title {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
