<configuration>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            <!--<pattern>%coloredLevel %logger{15} - %message%n%xException{5}</pattern>-->
        </encoder>
    </appender>
    <!--<appender name="LOGSTREAMS" class="com.malliina.logstreams.client.LogstreamsLogbackAkkaAppender">-->
        <!--<endpoint>${LOGSTREAMS_HOST:-logs.malliina.com}</endpoint>-->
        <!--<secure>true</secure>-->
        <!--<username>${LOGSTREAMS_USER:-cloud}</username>-->
        <!--<password>${LOGSTREAMS_PASS}</password>-->
    <!--</appender>-->
    <logger name="play" level="INFO"/>
    <logger name="controllers" level="INFO"/>
    <logger name="application" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="com" level="INFO"/>
    <logger name="play.core.server.netty.NettyModelConversion" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="LOGSTREAMS"/>-->
    </root>
</configuration>
