@(addForm: Form[(String, String, String)])(implicit flash: Flash)
<form role="form" action = "@routes.Accounts.formAddUser()" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username" class="form-control input-md" required>
        </div>
    </div>
    @passwordInputs()
    <button type="submit" class="btn btn-primary btn-block">Add User</button>
    @addForm.globalError.map { error =>
        <div class="lead alert alert-danger" role="alert">@error.message</div>
    }
    @flash.get(Accounts.FEEDBACK).map { feedback =>
        @if(flash.get(Accounts.SUCCESS) contains "yes") {
            <div class="lead alert alert-success" role="alert">@feedback</div>
        } else {
            <div class="lead alert alert-danger" role="alert">@feedback</div>
        }
    }
</form>