@(feedback: Option[String])(scripts: Html)(implicit request: RequestHeader)

@indexMain("player") {
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h1>Player</h1>
            </div>
        </div>
    </div>
    @feedback.map { msg =>
        <div class="row">
            <div class="col-md-9">
                <p class="lead alert">@msg</p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            <p id="notracktext" class="lead">No track. Play one from
                the <a href="@routes.Rest.rootLibrary()">library</a> or stream from a mobile device.</p>
        </div>
    </div>
    <div class="row">
        @playerControls()
        <div class="col-md-3">
            <h2>Playlist</h2>
            <ol id="playlist">
            </ol>
        </div>
    </div>
    @scripts
}