@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @util.css(
            "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css",
            "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css",
            "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css",
            "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        )
        @util.routedCss(
            routes.PimpAssets.at("css/custom.css"),
            routes.PimpAssets.at("css/footer.css")
        )
        <style>
        body {
        background : url ( " @routes.PimpAssets.at("img/guitar.png") ") no-repeat center;
        }
        </style>
            <!-- For playback and volume sliders -->
        @util.script(
            "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js",
            "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js",
            "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
        )
    </head>
    <body>
        <div id="wrap">
            @content
            <div id="push"></div>
        </div>
        <div id="footer">
        @util.div("container"){
            <p class="muted credit pull-right">Developed by <a href="https://github.com/malliina">Michael Skogberg</a>.</p>
        }
        </div>
    </body>
</html>