@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="@routes.PimpAssets.at("css/custom.css")">
        <link rel="stylesheet" href="@routes.PimpAssets.at("css/footer.css")">
        <style>
        body {
        background : url ( " @routes.PimpAssets.at("img/guitar.png") ") no-repeat center;
        }
        </style>
            <!-- For playback and volume sliders -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            @content
            <div id="push"></div>
        </div>
        <div id="footer">
        @util.div("container"){
            <p class="muted credit pull-right">Developed by <a href="https://github.com/malliina">Michael Skogberg</a>.</p>
        }
        </div>
    </body>
</html>