@import com.malliina.play.models.PasswordChange
@import com.malliina.play.models.Username

@(username: Username, helloForm: Form[PasswordChange], flash: Flash)

<form role="form" action = "@routes.Accounts.formChangePassword()" method="POST">
    <div class="form-group">
        <label for="user">Username</label>
        <div class="controls">
            <span class="uneditable-input input-md" id="user">@username.name</span>
        </div>
    </div>
    <div class="form-group">
        <label for="oldPassword">Old password</label>
        <div class="controls">
            <input type="password" id="oldPassword" name="oldPassword" class="form-control input-md" required>
        </div>
    </div>
    @passwordInputs("New password", "Repeat new password")
    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    @helloForm.globalError.orElse(helloForm.errors.headOption).map { error =>
        <div class="lead alert alert-danger" role="alert">@error.message</div>
    }
    @flash.get(Accounts.Feedback).map { feedback =>
        <div class="lead alert alert-success" role="alert">@feedback</div>
    }
</form>
