@(username: String, helloForm: Form[(String, String, String)])(implicit flash: Flash)

<div class="col-md-12">
    <h2>Change Password</h2>
    <form role="form" action = "@routes.Website.changePassword()" method="POST">
        <div class="form-group">
            <label for="user">Username</label>
            <div class="controls">
                <span class="uneditable-input input-md" id="user">@username</span>
            </div>
        </div>
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <div class="controls">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <div class="controls">
                <input type="password" id="newPassword" name="newPassword" class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newPasswordAgain">Repeat new password</label>
            <div class="controls">
                <input type="password" id="newPasswordAgain" name="newPasswordAgain" class="form-control input-md" required>
            </div>
        </div>
        @helloForm.globalError.orElse(helloForm.errors.headOption).map { error =>
            <p class="lead"> @error.message </p>
        }
        @flash.get("feedback").map { feedback =>
            <p class="lead"> @feedback </p>
        }
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    </form>
</div>
