@(folders:Seq[String], newFolderForm: Form[String])

<h2>Music Folders</h2>
@if(folders.isEmpty){
    <p>No music folders have been added.</p>
}
<ul class="list-unstyled">
@folders.map {f =>
    <li>@renderFolder(f)</li>
}
</ul>
<form name="newFolderForm" action="@routes.Website.newFolder()" method="POST" class="form-horizontal">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
        <input class="form-control" id="path" name="path" type="text" placeholder="C:\Music" required/>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </span>
    </div>
    @newFolderForm.errors.map { error =>
        <p class="error"> @error.message </p>
    }
</form>

@renderFolder(folder:String) = {
    <form action="@routes.Website.deleteFolder(folder)" method="POST" class="form-horizontal">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
            <span class="uneditable-input form-control">@folder</span>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</button>
            </span>
        </div>
    </form>
}