@(tabName: String)(content: Html)
@basePage("MusicPimp") {
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Website.rootLibrary()">MusicPimp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="@("active".when(tabName == "library"))"><a href="@routes.Rest.rootLibrary()"><i class="glyphicon glyphicon-list"></i> Library</a></li>
                        <li class="@("active".when(tabName == "player"))"><a href="@routes.Website.player()"><i class="glyphicon glyphicon-music"></i> Player</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@("active".when(tabName == "manage"))"><a href="@routes.Website.manage()"><i class="glyphicon glyphicon-wrench"></i> Manage</a></li>
                        <li class="@("active".when(tabName == "about"))"><a href="@routes.Website.about()"><i class="glyphicon glyphicon-globe"></i> About</a></li>
                        <li><a href="@routes.Website.logout()"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <section>
        <div class="container">
            @content
        </div>
    </section>
}