@import com.malliina.play.models.Username
@(tabName: String, user: Username)(content: Html)
@import util.{div, li, ul}

@basePage("MusicPimp") {
    @div("navbar navbar-default navbar-static-top") {
        @div("container") {
            @div("navbar-header") {
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.LibraryController.rootLibrary()">MusicPimp</a>
            }
            @div("navbar-collapse collapse") {
                @ul("nav navbar-nav") {
                    @navItem("Library", routes.LibraryController.rootLibrary(), "list")
                    @navItem("Player", routes.Website.player(), "music")
                }
                @ul("nav navbar-nav navbar-right") {
                    @li("dropdown") {
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> @{user.name} <span class="caret"></span></a>
                        @ul("dropdown-menu") {
                            @navItem("Account", routes.Accounts.account(), "pencil")
                            @navItem("Manage", routes.SettingsController.manage(), "wrench")
                            @navItem("About", routes.Website.about(), "globe")
                            <li role="separator" class="divider"></li>
                            <li><a href="@routes.Accounts.logout()"><i class="glyphicon glyphicon-off"></i> Sign Out</a></li>
                        }
                    }
                }
                @div("col-md-2 pull-right") {
                    <p class="navbar-text pull-right hidden-xs hide" id="okstatus"><i class="glyphicon glyphicon-eye-open green"></i></p>
                    <p class="navbar-text pull-right hidden-xs hide" id="failstatus"><i class="glyphicon glyphicon-eye-closed red"></i></p>
                }
                @div("col-md-4 pull-right") {
                    @searchForm(None, formClass = "navbar-form", size = "")
                }
            }
        }
    }
    <section>
        @div("container") {
            @content
        }
    </section>
}
    @navItem(title: String, href: Call, glyphSuffix: String) = {
        @bs.navItem(title, title.toLowerCase, tabName, href, glyphSuffix)
    }