@import com.malliina.play.auth.RememberMeCredentials
@import com.malliina.play.controllers.AccountForms
@import util.{div, css2}
@import bs.rowColumn
@(accounts: AccountForms, loginForm: Form[RememberMeCredentials], motd: Option[String], flash: Flash)

@basePage(title = "Welcome") {
    @css2("login.css")
    @div("container") {
        @rowColumn("col-md-4 form-signin") {
            @flash.get(accounts.feedback).map { message =>
                <div class="lead alert alert-success">@message</div>
            }
        }
        @rowColumn("col-md-4") {
            <form class="form-signin" name="loginForm" action="@routes.Accounts.formAuthenticate()" method="POST">
                <h2>Please sign in</h2>
                @div("form-group") {
                    <input type="text" class="form-control" name="@accounts.userFormKey" id="@accounts.userFormKey" placeholder="Username" autofocus>
                }
                @div("form-group") {
                    <input type="password" class="form-control" name="@accounts.passFormKey" id="@accounts.passFormKey" placeholder="Password">
                }
                @div("checkbox") {
                    <label>
                        <input type="checkbox" value="true" name="@accounts.rememberMeKey" id="@accounts.rememberMeKey">
                        Remember me
                    </label>
                }
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
        }
        @rowColumn("col-md-4") {
            @loginForm.globalError.map { error =>
                <div class="alert alert-warning form-signin" role="alert">@error.message</div>
            }
        }
        @rowColumn("col-md-4 form-signin") {
            @motd.map { message =>
                <p>@message</p>
            }
        }
    }
    <script type="text/javascript" charset="utf-8">
    $ ( function () { document.loginForm.username.focus(); } );
    </script>
}
