@(wsUrl: String, levelField: Field, levels: Seq[ch.qos.logback.classic.Level], selected: ch.qos.logback.classic.Level, errorMsg: Option[String] = None)(implicit request: RequestHeader)
@import ch.qos.logback.classic.Level
@import bs.rowColumn12
@manage("logs") {
    @rowColumn12 {
        <div class="page-header">
            <h1>Logs <small class="pull-right hidden-xs" id="status">Initializing...</small></h1>
        </div>
    }
    @rowColumn12 {
        @errorMsg.map { msg =>
            <p class="lead">@msg</p>
        }
    }
    @bs.rowColumn4 {
        <form method="POST" action="@routes.LogPage.changeLogLevel()">
            <div class="form-group">
                <select class="form-control" id="@levelField.id" name="@levelField.name" onchange="this.form.submit()">
                @levels.map { level =>
                    @option(level, selected)
                }
                </select>
            </div>
        </form>
    }
    @rowColumn12 {
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr><th>Time</th><th>Message</th><th>Logger</th><th>Thread</th><th>Level</th></tr>
            </thead>
            <tbody id="logTableBody">
            </tbody>
        </table>
    }
    @util.script2("rx.js")
    @wsopen(wsUrl)
}
@option(level: Level, active: Level) = {
    @if(level.toString == active.toString) {
        <option selected>@level</option>
    } else {
        <option>@level</option>
    }
}
