@(tab: String)(content: Html)

@indexMain("manage") {
    <ul class="nav nav-tabs">
        <li class="@("active".when(tab == "folders"))"><a href="@routes.Website.settings()"><i class="glyphicon glyphicon-folder-open"></i> Music Folders</a></li>
        <li class="@("active".when(tab == "account"))"><a href="@routes.Website.account()"><i class="glyphicon glyphicon-user"></i> Account</a></li>
        <li class="@("active".when(tab == "logs"))"><a href="@routes.Website.logs()"><i class="glyphicon glyphicon-list"></i> Logs</a></li>
    </ul>
    <section>
    @content
    </section>
}