@(tab: String)(content: Html)

    @indexMain("manage") {
        <ul class="nav nav-tabs">
            @navItem("Music Folders", "folders", routes.Website.settings(), "folder-open")
            @navItem("Account", "account", routes.Website.account(), "user")
            @navItem("Alarms", "alarms", routes.Alarms.alarms(), "time")
            @navItem("Cloud", "cloud", routes.Cloud.cloud(), "cloud")
            @navItem("Logs", "logs", routes.Website.logs(), "list")
        </ul>
        <section>
        @content
        </section>
    }
    @navItem(title: String, tabName: String, href: Call, glyphIcon: String) = {
    @bs.navItem(title, tabName, tab, href, glyphIcon)
    }