@import com.malliina.play.models.Username
@import com.malliina.musicpimp.stats.PopularEntry
@import bs.rowColumn12

@(entries: Seq[PopularEntry], user: Username)

@libraryBase("popular", user) {
    @rowColumn12 {
        <div class="page-header">
            <h1>Most popular <small class="hidden-xs">by @user.name</small></h1>
        </div>
    }
    @rowColumn12 {
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Plays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @entries.map { entry =>
                <tr>
                    <td>@entry.track.title</td>
                    <td>@entry.track.artist</td>
                    <td>@entry.track.album</td>
                    <td>@entry.playbackCount</td>
                    <td>@trackActions(entry.track, "flex")</td>
                </tr>
            }
            </tbody>
        </table>
    }
}
@util.script2("json.js", "library.js")
