@import com.malliina.musicpimp.audio.TrackMeta
@(track: TrackMeta, extraClass: String, extraButtons: Html = HtmlFormat.empty)
<div class="btn-group @extraClass" role="group">
    <a class="btn btn-primary" href="#" onclick="return play('@{track.id}');"><i class="glyphicon glyphicon-play"></i></a>
    <a class="btn btn-default" href="#" onclick="return add('@{track.id}');"><i class="glyphicon glyphicon-plus"></i></a>
    @extraButtons
    @*<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>*@
    @*<ul class="dropdown-menu">*@
    @*<li><a href="@routes.LibraryController.download({track.id})"><i class="glyphicon glyphicon-download"></i> Download</a></li>*@
    @*<li><a href="#" onclick="return webPlay('@{track.id}');"><i class="glyphicon glyphicon-play"></i>*@
    @*Play in browser</a>*@
    @*</li>*@
    @*<li><a href="#" onclick="return webAdd('@{track.id}');"><i class="glyphicon glyphicon-plus"></i>*@
    @*Add to browser</a>*@
    @*</li>*@
    @*</ul>*@
</div>
