@(field: Field, messages: Messages)
    @import com.malliina.musicpimp.scheduler.WeekDay

    @checkOpt(name: String) = {
        @if(field.indexes.flatMap(i => field("[" + i + "]").value).contains(name)) {
            checked
        }
    }

    <div class="form-group @if(field.hasErrors) {has-error}">
        <label for="@field.id" class="col-sm-2 control-label">Days</label>
        <div class="col-sm-4" id="@field.id">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="every" id="every" onclick="everyDayClicked ( )"> Every day
                </label>
            </div>
            @WeekDay.EveryDay.zipWithIndex.map(pair => weekDayCheck2(pair._1, pair._2))
            @bs.helpSpan(field)(messages)
        </div>
    </div>

    @weekDayCheck2(weekDay: WeekDay, index: Int) = {
        <div class="checkbox">
            <label>
                <input type="checkbox"
                value="@field.value.getOrElse(weekDay.shortName)"
                id="@weekDay.shortName"
                name="@{
                    field.name + "[" + index + "]"
                }"
                onclick="updateEveryDayCheckBox ( )"
                    @checkOpt(weekDay.shortName)> @weekDay.longName
            </label>
        </div>
    }